
ComicStore.mdf
ComicStore_log.ldf
NewDataBasePI_log.ldf
NewDataBasePI.mdf
NDBPI.sql
GraphDB_log.ldf
GraphDB.mdf
PlataformaStreaming_log.ldf
PlataformaStreaming.mdf
PI.mdf
PI_log.ldf
SQLQuery1.sql
DB MEDICO/MEDICO.mdf
DB MEDICO/MEDICO_log.ldf
DBBank.mdf
DBBank_log.ldf
